body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  display: flex;
  font-size: 32px;
  font-weight: 900px;
  align-items: center;
  padding-left: 16px;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  flex: 1 0 300px;
  padding: 16px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  display: flex;
  flex: 1 1 300px;
  margin: 16px;
  flex-direction: row;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 350px;
  flex: 1;
  padding: 32px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: white;
  font-size: 24px;
  text-decoration: none;
}